body {
  padding: 0;
  margin: 0;
}

/* General Style */
.section-padding {
  padding: 8rem 0;
}

.section__title {
  display: inline-block;
  margin-bottom: 6rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-left: 3px solid red;
  border-bottom: 3px solid red;
  padding: 0.4rem;
}

/* End General Style */
.open-nav {
  opacity: 0;
  visibility: hidden;
  margin: 0;
  display: none;
}

.header__nav {
  display: flex;
  justify-content: center;
}

.header__nav--content {
  display: flex;
  align-items: center;
  width: 90%;
  z-index: 9999;
  position: absolute;

  z-index: 444;
}

.logo__container {
  width: 20%;
}

.logo {
  color: #222;
  border-left: 3px solid rgb(14, 0, 138);
  border-bottom: 3px solid rgb(46, 7, 7);
  display: inline-block;
  padding: 0 0 0.6rem 0.6rem;
}

.nav {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__item {
  margin: 0 1.5rem;
}

.nav__link {
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff;
}

.btn {
  color: #fff;
  padding: 0.7rem 1.6rem;
  border-radius: 2px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  text-decoration: none;
}

.login__btn {
  background-color: #000;
  margin-right: 1.2rem;
}

.signup__btn {
  background-color: rgb(4, 1, 143);
}

/* Header Content */

.header__content {
  display: flex;
  height: 100vh;
}
.header__left {
  width: 70%;
  position: relative;
}

.header__right {
  width: 30%;
  height: 100%;
}

.img__container {
  height: 50%;
  width: 100%;
  background-color: #000;
}

.img__container--left {
  height: 100%;
}

.header__img {
  width: 100%;
  height: 100%;
  display: block;
}

.overlay {
  opacity: 0.8;
}

.overlay__img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.4);
}

.left-video-img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20%;
  box-shadow: 2px 2px 2px rgba(36, 36, 36, 0.356);
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

/* About Style */

.about {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 18rem;
}
.about__content {
  position: relative;
  width: 70%;
  margin: 0;
}

.about__img {
  display: block;
}

.about__header {
  position: absolute;
  right: -20%;
  top: 0;
  border-left: 3px solid red;
  border-bottom: 3px solid red;
  padding-left: 0.5rem;
  font-size: 1.6rem;
}

.about__text {
  width: 100%;
  position: absolute;
  top: 50%;
  right: -50%;
  margin-left: 5rem;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}

.about__desc {
  line-height: 1.6;
}

/* Team Section Style */
.team {
  padding: 8rem 0;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.534),
      rgba(255, 255, 255, 0.644)
    ),
    url("../images/team/teab-section-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.team__content {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.team__item {
  width: 30%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 9999;
}

.team__img {
  position: absolute;
  top: -10%;
  left: -10%;
  width: 5rem;
  height: 5rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  z-index: 9999;
  border-radius: 50%;
}

.team__overlay {
  clip-path: polygon(
    0% 15%,
    15% 15%,
    15% 0%,
    85% 0%,
    85% 15%,
    100% 15%,
    100% 85%,
    85% 85%,
    85% 100%,
    15% 100%,
    15% 85%,
    0% 85%
  );
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.team__links {
  display: flex;
  margin: 1rem 0;
  position: relative;
  padding-bottom: 0.6rem;
  /* box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4); */
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  /* border-right: 2px solid #fff; */
}

/* .team__links::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 12rem;
  background-color: #fff;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  margin-bottom: 2rem;
} */

.team__icon {
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem;
}

.team__name {
  color: #fff;
  margin: 1.2rem 0 0 0;
  font-size: 1.6rem;
}

.team__job {
  color: #fff;
  margin: 0.7rem 0 3rem 0;
  font-size: 0.8rem;
}

/* Prodcuts Section Style */
.products__content {
  display: flex;
}

.products__left {
  width: 75%;
  margin-right: 1rem;
}

.products__right {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1rem;
}

.products__item--right {
  width: 100%;
  height: 100%;
  position: relative;
  margin-bottom: 1.2rem;
  display: block;
}

.products__item--right:nth-child(1) {
  background-color: #000;
}

.products__item--right:nth-child(2) {
  background-color: rgb(152, 155, 0);
}

.products__left--top {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.products__item--top {
  width: 30%;
  position: relative;
  overflow: hidden;
}

.products__item--top:nth-child(1) {
  background-color: green;
}

.products__item--top:nth-child(2) {
  background-color: gray;
}

.products__item--top:nth-child(3) {
  background-color: blue;
}

.products__left--bottom--item {
  background-color: #000;
}

.products__img {
  width: 100%;
  height: 100%;
  display: block;
}

.products__text {
  position: absolute;
  top: 0;
  text-align: center;
  color: #fff;
}

.producst__desc {
  line-height: 1.5;
}

/* Projects Section Style */
.projects {
  width: 70%;
  margin: 0 auto;
}

.projects__content {
  position: relative;
  /* display: flex;
  flex-direction: column; */
}

.projects__item {
  width: 90%;
  margin-bottom: 10rem;
  display: flex;
  justify-content: space-between;
}

.projects__item--title {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects__item--title h1 {
  border-left: 2px solid red;
  border-bottom: 2px solid #222;
  padding: 0 0 1rem 1rem;
  font-size: 3rem;
}

.projects__item--content {
  position: relative;
  width: 50%;
}

.projects__item__overlay {
  position: absolute;
  top: -10%;
  left: -10%;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}

.projects__img {
  width: 100%;
  display: block;
}

.projects__item__text {
  position: absolute;
  top: 50%;
  right: -50%;
  transform: translateY(-50%);
  padding: 0;
}

.projects__list {
  padding: 0;
  list-style: none;
  z-index: 9999;
}

.projects__list__item {
  padding: 1rem 1.3rem;
  margin: 1rem;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.6);
  background-color: #fff;
  letter-spacing: 1px;
}

.projects__item:nth-child(2) .projects__item--content {
  width: 44%;
}

/* Footer Style */

.footer {
  background-color: rgba(0, 0, 0, 0.87);
  padding: 6rem 0;
}

.footer__content {
  margin: 0 auto;
}

.footer__text {
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 1600px) {
  .header__content {
    height: 100vh;
    position: relative;
  }
  .header__left {
    width: 100%;
    position: relative;
  }

  .header__right {
    position: absolute;
    top: 60%;
    right: 0;
    display: flex;
    width: 50%;
  }

  .img__container {
    height: 40%;
    width: 100%;
    background-color: #000;
  }
}

@media screen and (max-width: 1100px) {
  .header__right {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: 80%;
    margin-top: 4rem;
  }

  .header__content {
    margin-bottom: 10rem;
  }

  .about {
    width: 80%;
    padding: 18rem 0;
  }
  .about__content {
    width: 90%;
  }

  .about__header {
    right: -10%;
  }

  .about__text {
    right: -20%;
  }

  .team {
    padding: 6rem 0;
  }

  .team__content {
    flex-direction: column;
    align-items: center;
  }

  .team__item {
    width: 60%;
    margin-bottom: 3rem;
  }

  .team__img {
    top: -10%;
    left: 0;
    width: 6rem;
    height: 6rem;
  }

  .products__content {
    flex-direction: column;
  }

  .products__left {
    width: 90%;
    margin: 0 auto 2rem auto;
  }

  .products__right {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
  }

  .products__item--right {
    width: 40%;
    height: 100%;

    margin-bottom: 0;
  }

  .products__item--top {
    width: 33%;
  }

  .producst__desc {
    padding: 0.4rem;
  }

  .projects {
    width: 80%;
    margin: 0 auto;
  }

  .projects__content {
    position: relative;
  }

  .projects__item {
    width: 90%;
    margin-bottom: 6rem;
    align-items: center;
    flex-direction: column;
  }

  .projects__item--title {
    width: 100%;
  }

  .projects__item--title h1 {
    font-size: 1.6rem;
    margin-bottom: 4rem;
  }

  .projects__item--content {
    position: relative;
    width: 60%;
  }

  .projects__item:nth-child(2) {
    flex-direction: column-reverse;
  }

  .projects__item:nth-child(2) .projects__item--content {
    width: 60%;
  }
}

@media screen and (max-width: 900px) {
  .header {
    position: relative;
  }

  .open-nav {
    opacity: 1;
    visibility: visible;
    display: block;
    position: absolute;
    right: 1rem;
    top: 1rem;
    padding: 0.5rem;
    z-index: 9999;
  }

  .header__nav {
    /* flex-direction: column; */
    position: relative;
  }

  .header__nav--content {
    position: absolute;
    left: -70%;
    width: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    position: absolute;
    background-color: gray;
    padding-bottom: 3rem;
    transition: all 0.5s;
  }

  .logo__container {
    width: 90%;
    margin: 0 auto;
    text-emphasis: none;
    text-align: center;
  }

  .nav {
    width: 90%;
    flex-direction: column;
    align-items: center;
  }

  .nav__list {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .nav__item {
    margin: 1rem auto;
  }

  .about {
    width: 80%;
    padding-bottom: 4rem;
  }
  .about__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about__header {
    position: relative;
    margin-bottom: 3rem;
  }

  .about__img {
    width: 100%;
    height: 100%;
    margin-bottom: 2rem;
  }

  .about__text {
    width: 100%;
    position: relative;
    /* right: 0; */
    left: 0;
    margin: 0;
  }

  .team__item {
    width: 65%;
    margin-bottom: 3rem;
  }

  .products__content {
    flex-direction: column;
  }

  .products__left {
    width: 90%;
    margin: 0 auto 2rem auto;
  }

  .products__right {
    flex-direction: column;
    align-items: center;

    margin: 0 auto 3rem auto;
  }

  .products__item--right {
    width: 60%;
    height: 100%;
    margin-bottom: 3rem;
  }

  .products__left--top {
    flex-wrap: wrap;
  }

  .products__item--top {
    width: 56%;
    margin-bottom: 3rem;
  }

  .projects__item--content {
    width: 70%;
  }

  .projects__item:nth-child(2) .projects__item--content {
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  .about {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 4rem;
  }
  .about__content {
    margin: 0 auto;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about__header {
    position: relative;
    margin-bottom: 3rem;
  }

  .about__img {
    width: 100%;
    height: 100%;
    margin-bottom: 2rem;
  }

  .about__text {
    box-sizing: border-box;
    width: 100%;
    position: relative;
    margin: 0;
  }

  .team__item {
    width: 90%;
    margin-bottom: 3rem;
  }

  .projects__item--content {
    width: 90%;
  }

  .projects__item:nth-child(2) .projects__item--content {
    width: 90%;
  }
}
